[submodule "thirdparty/json"]
	path = thirdparty/json
	url = https://github.com/nlohmann/json.git
[submodule "thirdparty/magicenum/magic_enum"]
	path = thirdparty/magicenum/magic_enum
	url = https://github.com/Neargye/magic_enum.git
